pkgbase = tunex
	pkgdesc = Local-first music player for Linux (Rust + Qt Quick)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/PerkyZZ999/TuneX
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = rust
	makedepends = git
	makedepends = qt6-shadertools
	makedepends = pkgconf
	depends = qt6-base
	depends = qt6-declarative
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	depends = sqlite
	depends = hicolor-icon-theme
	options = !lto
	source = tunex::git+https://github.com/PerkyZZ999/TuneX.git
	sha256sums = SKIP

pkgname = tunex
